.catchphrase {
    position: relative;

    .sarina {
        padding: 10px 0px 20px;
        font-family: 'Sarina', cursive;
        font-style: italic;
        @include fontsize(32, $root_font_size);
    }

    .catchphrase-box {
        position: absolute;
        top: 54%;
        left: 45%;
        display: block;
        width: 40%;
        padding: 16px 26px;
        color: #fff;
        text-align: left;
        background: rgba(71, 81, 96, 0.75);
        -webkit-transform: translate(0%, -50%);
        -moz-transform: translate(0%, -50%);
        -ms-transform: translate(0%, -50%);
        -o-transform: translate(0%, -50%);
        transform: translate(0%, -50%);
        transition: 1s ease;
    }

    .catchphrase-text {
        margin-top: 47px;
        line-height: 1.8;
    }
}
