.catchphrase {
    position: relative;

    .catchphrase-box {
        @extend .common__contents-box;
        top: 54%;
        left: 45%;
        &__title {
            padding: 10px 0px 20px;
            font-family: 'Sarina', cursive;
            font-style: italic;
            @include fontsize(32, $root_font_size);
        }
    }

    .catchphrase-text {
        @extend .common__contents-text;
    }
}
