//ルートフォントサイズ
$root_font_size: 15;
//$root_font_pc_size: 15;
$root_font_sp_size: 20;

$color_main: #ffffff;
$color_side: #dddddd;
$color_header_contact: #1a8fe3;
$color_button_back: $color_header_contact;
$color_date_font: $color_header_contact;

$color_topbanner_font-shadow: black;

//fonts
$font_body: 'Noto Sans JP", "游ゴシック体", "YuGothic", "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;' !default;
$html_font_size: 15px !default;
